[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
momento = {editable = true, path = "./../../client-sdk-python"}
colorlog = "==6.6.0"
hdrhistogram = "*"

[dev-packages]

[requires]
python_version = "3.9"
